@model Outcome
@{
    var categoryList = ViewData["CategoryList"] as List<Category>;
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var category in categoryList)
    {
        listItems.Add(new SelectListItem
        {
            Text = category.CategoryName,
            Value = category.CategoryId.ToString()
        });
    }
    var date = DateTime.Today;
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOutcome">Dodaj wydatek</button>
<div class="modal fade" id="addOutcome">
    <form asp-action="Wydatki" onsubmit="window.location.reload">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodaj nowy wydatek</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="control-label">Kwota</label><input asp-for="OutcomeValue" class="form-control" />
                    </div>
                    <div>
                        <script type="text/javascript">
                            $(function () {
                                $('#date').datetimepicker({
                                    defaultDate: '@date',
                                    locale: 'pl',
                                    format: 'L'
                                });
                            });
                        </script>
                        <label class="control-label">Data</label>
                        <div class='input-group date' id='date'>
                            <input asp-for="OutcomeDate" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <label class="control-label">Kategoria</label><select class="form-control" id="sel1" name="OutcomeCategoryId">
                            @foreach (var category in categoryList)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="control-label">Opis</label><input asp-for="OutcomeName" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer ">
                    <input type="submit" class="btn btn-primary" value="Dodaj" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </form>
</div>