<div class="modal fade" id="error">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Wystąpił nieoczekiwany błąd:</h4>
            </div>
            <div class="modal-body">
                <div>
                    <textarea class="control-label">@ViewData["ErrorMessage"]</textarea>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>